* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    position: absolute;
    color: white;
    overflow-x: hidden;

}

.upper {
    position: relative;
    height: 85vh;
    background-color: 0f0f0f;
    display: flex;
}

.diagonal-grid {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-image:
        repeating-linear-gradient(45deg,
            rgba(255, 140, 0, 0.12) 0,
            rgba(255, 140, 0, 0.12) 1px,
            transparent 1px,
            transparent 22px),
        repeating-linear-gradient(-45deg,
            rgba(255, 69, 0, 0.08) 0,
            rgba(255, 69, 0, 0.08) 1px,
            transparent 1px,
            transparent 22px);
    background-size: 44px 44px;
}

.navbar {
    top: 1.125rem;
    left: 5%;
    right: 5%;
    position: fixed;
    z-index: 100000;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.419);
    padding: 10px 30px;
    border-radius: 10rem;
    /* margin:; */
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    width: 3rem;
    cursor: pointer;
    transition: all .18s ease;
}

.logo img:hover {
    transform: translateY(-3px);
    transform: scale(1.20);
    transition: transform 0.5s;
}

@keyframes identifier {}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    transition: all .18s ease;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.nav-links a:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(2, 6, 23, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.login-btn {
    background-color: #000000;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .18s ease;
    padding: 8px 12px;
    border-radius: 0.5rem;
    font-weight: 300;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(2, 6, 23, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.big-box {
    display: grid;
    grid-template-areas:
        'hero hero photo-box';
    /* height: 100vh; */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 100px;
    gap: 15px;
}

.photo-box {
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h2 {
    padding: 1rem 0rem;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 5px;

}

.hero-text h1 {
    /* background-color: #ddd ; */
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text p {
    padding: 1rem 0rem;
    font-size: 16px;
    max-width: 45.5rem;
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero-buttons {
    padding: 1rem 0rem;
}

.hero-buttons button {
    position: relative;
    background-color: #000000;
    border: none;
    padding: 10px 25px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .18s ease;
    font-weight: 300;
}

.hero-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(2, 6, 23, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.photo-section {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.photo-section h3 {
    border-radius: 0.5rem;
    position: inherit;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd90013;
    font-family: "Quintessential", serif;
    top: -2rem;
    left: -3rem;
    animation: moveUpDown 7s ease-in-out infinite;
}

.main-photo {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.small-photo {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.small-photo.top {
    top: -40px;
    left: -40px;
}

.small-photo.bottom {
    bottom: -40px;
    right: -40px;
}

.small-photo.top {
    animation: moveUpDown 5s ease-in-out infinite;
}

.small-photo.bottom {
    animation: moveUpDown 7s ease-in-out infinite;
}

.main-photo {
    animation: moveUpDown 9s ease-in-out infinite;
}

.logo-grid img {
    width: 4rem;
    height: 4rem;
}

.logo-grid {
    position: hidden;
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    width: 100%;
    margin: 2rem 0;
    /* border-radius: 1rem; */
}

.logo-grid div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    animation: scroll 10s linear infinite;
    animation-duration: var(--t);
    cursor: pointer;
}

.experience-section {
    width: 100%;
    min-height: 60vh;
    padding: 2rem;
    position: relative;
    background-color: #4f4e4e6b;
}

.experience-section h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.text-box {
    background-color: #000000;
    padding: 6rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
}

.text-box div {
    cursor: pointer;
}

.project-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f0f;
    color: white;
}

.variable-pattern {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-image: repeating-linear-gradient(30deg,
            rgba(255, 100, 0, 0.1) 0,
            rgba(255, 100, 0, 0.1) 1px,
            transparent 1px,
            transparent 10px,
            rgba(255, 100, 0, 0.15) 11px,
            rgba(255, 100, 0, 0.15) 12px,
            transparent 12px,
            transparent 30px);
}

.text-area {
    padding: 4rem;
    font-size: 2rem;
}

.box-area {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        'box1 box2 box4'
        'box1 box3 box4';
}

.box.box1 {
    grid-area: box1;
    background-color: #000000;
    height: 50rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.box.box2 {
    grid-area: box2;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.box.box3 {
    grid-area: box3;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.box.box4 {
    grid-area: box4;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.contact-box {
    padding: 4rem;
}

.contact-box h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

button {
    border: 2px solid rgb(255, 255, 255);
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    background: black;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(2, 6, 23, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

footer {

    position: relative;
    background-color: #ffffff;
    padding: 5rem;
    color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-left {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 30rem;
}

.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

.footer-left img {
    cursor: pointer;
}

.footer-left h3 {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: bold;
}

.footer-left p {
    margin-left: -3.70rem;
    font-size: 15px;
    color: #444;
    margin-top: 5px;
}

.footer-middle h4,
.footer-right h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-middle ul {
    list-style: none;
}

.footer-middle ul li {
    margin-bottom: 6px;
}

.footer-middle ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    transition: color 0.3s;
}

.footer-middle ul li a:hover {
    color: #0077ff;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 100%;
    height: 22px;
    opacity: 0.9;
    transition: opacity 0.3s, transform 0.3s;
}

.social-icons img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.footer-line {
    border: none;
    border-top: 1px solid #888;
    margin-top: 25px;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}

@media (max-width: 320px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
        border-radius: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-image {
        margin-top: 20px;
    }

    .hero-image img {
        width: 30rem;
        height: 50rem;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 15px;
    }
}